@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body{
	font-family: "PT sans";
	font-size: 1.6em;
}

header{
	padding:30px;
	text-align: center;
}

h1,h2,h3,h4{
	margin:0 0 10px 0;
}

h1{
	color:gray;
	font-size:3em;
	text-transform: uppercase;
	padding:0;
}

h2{
	background:#efefef;
	font-size:2.6em;
	text-transform: uppercase;
	padding:30px;
	margin:0;
}

h3{
	margin-top:0;
	padding-top:0;
	margin-bottom:20px;
}

.col-md-6 + .col-md-6{
	background:#F7F7F9;
	min-height:220px;
}

.col-md-6{
	padding:40px;	
}

section.row{
	border-bottom:1px solid #EEE;
}


/********* Code *********/
/*
 * Code
 */

code,
pre {
  font-size: 95%;
}
code {
  padding: 2px 4px;
  font-size: 85%;
  color:#4c9ed9;
  background-color: transparent;
}


ul.colors li {
  display: inline-block;
  height: 100px;
  padding: 4px;
  margin-right: 14px;
  margin-bottom: 60px;
  width: 100px;
}
ul.colors li p {
  position: relative;
  bottom: -50px;
  color: #bbbbbb;
  font-size: 0.9em;
	text-align: center;
	background: white;
}
ul.colors-link li {
  height: 40px;
  margin-right: 60px;
  margin-bottom: 14px;
  padding: 4px;
  width: 40px;
}
ul.colors-link li p {
  position: relative;
  right: -40px;
  top: -10px;
  color: #bbbbbb;
  font-size: 0.9em;
}

.logo{
	height:100px;
	overflow:hidden;
	margin-bottom:20px;
}

.logo img,.logo p{
	display: inline-block;
	vertical-align:top;
}

.logo img{
	margin-right:10px;
}

/********* Police ***********/
@import url(http://fonts.googleapis.com/css?family=Lora);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);


.nom-police{
	font-size:0.7em;
	text-transform: uppercase;
	color:gray;
}

.police{
	padding:10px;
	font-size:1.4em;
}

.police1{
	font-family: "Lora";
}

.police2{
	font-family: "Open sans";
}

